page-invoice {
  .haveGif{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .myHaveGif{
      width: 40px;
      height: 40px;
    }
  }
  .noContent{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .myNoContent{
      width: 120px;
    }
  }
  .popover{
    border: solid 1px #eeeeee;
    position: fixed;
    top:57px;
    right: 17px;
    height: 88px;
    width: 130px;
    z-index: 99999;
    background-color: white;
    opacity: 1;
    .item{
      width: 100%;
      text-indent: 23px;
      height: 44px;
      display: flex;
      align-items: center;
      font-size: 15px;
    }
  }
  .help{
    z-index: 9997;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
  }
  .siftDiv{
    z-index: 9999;
    height: 100%;
    width: 70%;
    position: fixed;
    top:0;
    right: 0;
    background-color: white;
    -webkit-animation:righteaseinAnimate linear 0.5s ;
    -moz-animation:righteaseinAnimate linear 0.5s; /* Firefox */
    -o-animation:righteaseinAnimate linear 0.5s; /* Opera */

    .condition{
      font-size: 14px;
      width: 100%;
      height: 50px;
      color: #101010 ;
      padding-top: 30px;
      padding-left: 15px;
      font-weight: bold;
    }
    .userInput{
      display: flex;
      margin-left: 15px;
      margin-top: 16px;
      align-items: center;
      margin-right: 15px;
      .click{
        border: 1px solid deepskyblue;
        color: deepskyblue;
      }
      .inputNum{
        text-indent: 2px;
        width: 50%;
        border: solid 1px #eee;
        height: 30px;
        line-height:30px;
        border-radius: 3px;
        background-color: white;
        text-align: center;
        font-size: 12px;
      }
      .middle{
        width: 30px;
      }
    }
    .siftTitle{
      font-size: 18px;
      width: 100%;
      height: 50px;
      padding-left: 20px;
      line-height: 50px;
      color: #333333;
      border-bottom: 1px solid #cccccc;
    }
    .footer{
      height: 50px;
      position: absolute;
      bottom:0;
      width: 100%;
      .myCol{
        padding: 0;
        height: 100%;
        .myButtonFirst{
          width: 100%;
          height:100%;
          background-color:deepskyblue;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 15px;
          color: white
        }
        .myButtonSecond{
          width: 100%;
          height:100%;
          background-color:white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 15px;
          color: black;
        }
      }
    }
  }
  .remove{
    position: absolute;
    width:80px;
    background:deepskyblue;
    right: 0;
    top: 0;
    color:white;
    text-align: center;
    font-size: 18px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @-webkit-keyframes righteaseinAnimate {
    0% {
      left:100%;
      top:0;
    }
    100% {
      left:35%;
      top:0;
    }
  }
  ::-webkit-scrollbar {/*隐藏滚轮*/
    display: none;
  }
  input[type="date"]:before{
    content: attr(placeholder);
    color:darkgray;
  }
  .borderD{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color:white;
    z-index: 100;
    transition:1s;
    padding: 2.933vw;
    padding-left: 4.266vw
  }
}
