<!--
  Generated template for the PreTicketDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{name}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div id="placeMess" *ngIf="!showNoContent">
    <div class="palce"  *ngFor="let i of dataSource">
      <!--*ngFor="let data of dataSource; let i = index"-->
      <div class="title">明细行{{i.lineNo}}</div>
      <div class="pContent">
        <ul>
          <li><span>物料名</span><span>{{i.itemName}}</span></li>
          <li><span>物料规格</span><span>{{i.modelName}}</span></li>
          <li><span>数量</span><span>{{i.quantity}}</span></li>
          <li><span>单位</span><span>{{i.unit}}</span></li>
          <li><span>含税价格</span><span>{{i.price}}</span></li>
          <li><span>不含税金额</span><span>{{i.totalPrice}}</span></li>
          <li><span>含税金额</span><span>{{i.totalPriceTax}}</span></li>
          <li><span>税率</span><span>{{i.taxRate}}</span></li>
          <li><span>税额</span><span>{{i.totalTax}}</span></li>
          <li><span>税收分类代码</span><span>{{i.classCode}}</span></li>
          <li><span>物料编码</span><span>{{i.goodsCode}}</span></li>
        </ul>
      </div>
    </div>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="加载中"
      ></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <div *ngIf="showNoContent" class="noContent">
    <img src="assets/imgs/noContent.png" class="myNoContent">
  </div>
</ion-content>
