page-settlement {
  select{
    border-radius: 5px;
    border: 1px solid #eeeeee;
    height: 30px;
    width: 130px;
    background: none;
  }
  .popover{
    border: solid 1px #eeeeee;
    position: fixed;
    top:57px;
    right: 17px;
    height: 88px;
    width: 130px;
    z-index: 99999;
    background-color: white;
    opacity: 1;
    .item{
      width: 100%;
      text-indent: 23px;
      height: 44px;
      display: flex;
      align-items: center;
      font-size: 15px;
    }
  }
  .noContent{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .myNoContent{
      width: 120px;
    }
  }
  .myContent{
    height: 100%;
    background-color: #eeeeee;
    .content{
      background-color: #eee;
      .myButton{
        border-bottom:  solid 10px #eee;
        .buttonHeader{
          color: #333;
          font-size: 4vw;
          font-weight: bold;
          width:88%;
          .name{
            color: #333;
            font-size: 4vw;
            font-weight: bold;
          }
        }
        .status{
          position: absolute;
          top: 9%;
          right: 3%;
          color: #e51c23;
          font-size: 3.733vw
        }
        .buttonEnd{
          margin-left: 0;
          .date{
            padding-top: 10px;
            color: #666;
            font-size: 3.733vw;
          }
          .endItem{
            margin-top: 1.333vw;
            color: #666;
            font-size: 3.733vw;
          }
        }
      }
    }
  }
  .myType{
    height: 50px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    //.myBadge{
    //  position: absolute;
    //  top: 2px;
    //  right: 2px
    //}

  }
  .help{
    z-index: 9997;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
  }
  .siftDiv{
    z-index: 9999;
    height: 100%;
    width: 70%;
    position: fixed;
    top:0;
    right: 0;
    background-color: white;
    -webkit-animation:righteaseinAnimate linear 0.5s ;
    -moz-animation:righteaseinAnimate linear 0.5s; /* Firefox */
    -o-animation:righteaseinAnimate linear 0.5s; /* Opera */

    .condition{
      font-size: 14px;
      width: 100%;
      height: 50px;
      color: #101010 ;
      padding-top: 30px;
      padding-left: 15px;
      font-weight: bold;
    }
    .userInput{
      display: flex;
      margin-left: 15px;
      margin-top: 16px;
      align-items: center;
      margin-right: 15px;
      .click{
        border: 1px solid deepskyblue;
        color: deepskyblue;
      }
      .inputNum{
        width: 50%;
        border: solid 1px #eee;
        height: 30px;
        line-height:30px;
        border-radius: 3px;
        background-color: white;
        text-align: center;
        font-size: 12px;
        text-indent: 2px;
      }
      .middle{
        width: 30px;
      }
    }
    .siftTitle{
      font-size: 18px;
      width: 100%;
      height: 50px;
      padding-left: 20px;
      line-height: 50px;
      color: #333333;
      border-bottom: 1px solid #cccccc;
    }
    .footer{
      height: 50px;
      position: absolute;
      bottom:0;
      width: 100%;
      .myCol{
        padding: 0;
        height: 100%;
        .myButtonFirst{
          width: 100%;
          height:100%;
          background-color:deepskyblue;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 15px;
          color: white
        }
        .myButtonSecond{
          width: 100%;
          height:100%;
          background-color:white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 15px;
          color: black;
        }
      }
    }
  }
  @-webkit-keyframes righteaseinAnimate {
    0% {
      left:100%;
      top:0;
    }
    //25% {
    //  left:83.75%;
    //  top:0;
    //}
    //50%{
    //  left:67.5%;
    //  top:0;
    //}
    //75% {
    //  left:51.25%;
    //  top:0;
    //}
    100% {
      left:35%;
      top:0;
    }
  }
  .ready{
    z-index: 2;
  }
  .ready>button{
    //background: #fff;
    border-radius: 0;
    padding:0;
    height: 100%;
    flex:1;
  }
  input[type="date"]:before{
    content: attr(placeholder);
    color:darkgray;
  }
  //.ready>button:first-child{
  //  top:0;
  //  left: 15%;
  //}
  //.ready>button:last-child{
  //  top:0;
  //  right: 15%;
  //}
  .item-ios.item-block .item-inner {
    border: none;
  }
  .searchLoaction ul li{
    background: #fff;
    height: 40px;
    line-height: 40px;
    position: relative;
    border-bottom: solid 1px #eee;
    display: flex;
    align-items: center;
  }
  .searchLoaction ul li .conter{
    flex: 1;
  }
  .searchLoaction ul li span:first-child{
    width: 60px;
    text-align: center;
    color: #aaa;
  }
  .searchLoaction ul li span:last-child{
    width: 60px;
    text-align: center;
    color: #aaa;
  }
  .already{
    border-bottom: 3px solid deepskyblue;
  }
  button{
    background-color: white;
  }
}
